html {
  background-color: rebeccapurple;
}

.appWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  height: 20px;
  width: 100%;
  background-color: aqua;
}

.body {
  height: 100vh;
  width: 100%;
  background-color: chartreuse;
}

.footer {
  height: 20px;
  width: 100%;
  background-color: dodgerblue;
}
