html {
  background-color: rebeccapurple;
}

body {
  color: #FFF;
}

.header {
  background-image: url(images/arches.png);
  border-bottom: 7px solid #25C720;
}

.footer {
  background-image: url(images/arches.png);
  border-top: 7px solid #25C720;
}

.title {
  font-size: 35px;
  text-shadow: -2px 4px 0px #25C720;
}

.body {
  background-color: chartreuse;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
